<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/monokai-sublime.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/highlight.min.js') }}"></script>
</head>

<body>
    <div class="title">
        <h2>nginx配置文件生成测试</h2>
    </div>
    <div class="container-fluid">
        <div class="row main">
            <div class="col-md-5 nav">
                <form method="post" id="url_post_form">
                    <div class="form-group">
                        <label for="url_str">Demo</label>
                        <textarea name="url_str" form="url_post_form" class="form-control" rows="10">
http://192.168.152.6:8080/dxpmanager
http://192.168.152.23:8080/edc
http://192.168.152.8:8080/sharedportal
                        </textarea>
                        <div class="radio-list">
                            <label>
                                <input type="radio" value="非电子交易" name="project_type" data-title="非电子交易" checked/> 非电子交易
                            </label>
                            <label>
                                <input type="radio" value="电子交易" name="project_type" data-title="电子交易" /> 电子交易
                            </label>
                        </div>
                        <!-- <input type="radio" name="project_type" id="非电子交易" value="非电子交易" checked> 非电子交易
                        <input type="radio" name="project_type" id="电子交易" value="电子交易"> 电子交易 -->
                        <input type="submit" value="确认提交" class="form-control submit"> 
                    </div>
                </form>
            <div class="col-md-15">
                <p class="p">1.在输入url时，如是默认端口，请添加80或443</p>
                <p class="p">2.在输入url时，不要添加多级目录，目前只支持一级目录，即http://ip:port/xxx</p>
                <p class="p">3.生成配置文件后，请勿通过ssh复制到单机版nginx.conf中，复制时，配置文件中的特殊字符会丢失。可通过下载按钮，下载对应的配置文件上传至服务器。</p>
            </div>                
            </div>
            <div class="col-md-5 content">
                <div class="content-body">
                    <a href="{{ url_for('download') }}" rel="external nofollow" class="btn btn-success"> 下载 </a>
                </div>
         

                <div id="code" class="code-box">
                    <pre>
                            <code>
{{ str_nginx_conf|safe }}
                            </code>
                        </pre>
                </div>
            </div>

        </div>
    </div>
</body>
<script>
    // 实现代码高亮的函数
    hljs.initHighlightingOnLoad();
    var allpre = document.getElementsByTagName("pre");
    for (i = 0; i < allpre.length; i++) {
        var onepre = document.getElementsByTagName("pre")[i];
        var mycode = document.getElementsByTagName("pre")[i].innerHTML;
        onepre.innerHTML = '<code id="mycode">' + mycode + '</code>';
    }
</script>

</html>